body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

table {
    border: solid gray 1px;
    padding: 5px;
}

td {
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

td.rego {
    font-family: monospace;
    font-weight: bold;
    background-color: white;
    color: blue;
    border-top: solid 5px blue;
    padding: 0px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}
